{% extends "AppliUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% include "AppliUserBundle:Profile:show_content.html.twig" %}
<a href="{{ path('fos_user_profile_edit') }}" role="button" class="btn btn-default" type="btn" id="add_tache" name="add_tache" value=""> Editer mon profile </a>

{% endblock fos_user_content %}
